
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
   
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #0073e6;
}

.features {
    display: flex;
    gap: 20px;
}

.feature {
    background-color: #11998e;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.feature img {
    height: 50px;
    margin-bottom: 10px;
}

.team {
    display: flex;
    gap: 20px;
}

.member {
    background-color: #11998e;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.member img {
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    
    background-color: #11998e;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer .social {
    margin-top: 20px;
}

footer .social a {
    margin: 0 10px;
}

footer p {
    margin-top: 20px;
    color: #000000;
}

footer address {
    margin-top: 10px;
    
    color: #000000;
}
